.login-btn {
  width: 100%;
  padding: 12px;
  background: #ff2e2e;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #e60000;
}

.login-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}